<section class="projects-index content-container" ng-controller="projectsCtrl">
  <div class="loader" ng-hide="pageLoaded">
    <%= render 'shared/loader' %>
  </div>

  <div class="project-list" ng-show="pageLoaded">
    <div ng-repeat="project in projects | orderBy: 'id'" class="project-card" ng-class="{ suna: (project.name === 'SunaBros') }">
      <!-- <span ng-bind="project.name"></span> -->
      <a ng-href="{{ project.site_url }}">
        <div class="image-box">
          <img ng-src="{{ project.image_url }}">
        </div>
      </a>
    </div>

    <div ng-repeat="empty in emptyBoxes track by $index" class="project-card">
      <div class="image-box">
        <img src="<%= get_image('empty_snapshot.png') %>">
      </div>
    </div>
  </div>
</section>
