<section class="about content-container">
  <article>
    <figure>
      <img src="https://s3-us-west-2.amazonaws.com/gjschulteportfolio/grant_full.jpg">
    </figure>
  </article>

  <aside>

    <div class="aside-list">
      <h3>Title:</h3>
      <p>Senior Front-End Engineer</p>

      <h3>Qualifications &amp; <br>Realms Of Operation:</h3>
      <p>Software Design, Software Development, User Interface Design,
      User Interface Development, Front-End Architecture, Front-End Development,
      Web Applications, Single Page Web Applications</p>

      <h3>Toolkit:</h3>
      <p class="toolkit">
        <span>HTML5</span>
        <span>CSS</span>
        <span>Javascript</span>
        <span>Angular</span>
        <span>Node</span>
        <span>Express</span>
        <span>Wordpress</span>
        <span>Rails</span>
      </p>

      <h3>Also interested in:</h3>
      <p>Music, minimalism, authenticism, athleticism, aesthetics,
      science fiction, furniture, and real food.</p>

      <h3>Current Location:</h3>
      <p>New York City</p>

      <h3>Contact Me:</h3>
      <p>If you wish to contact me try <a href="https://www.linkedin.com/pub/grant-schulte/a4/373/108">Linked <span class="fa fa-linkedin-square"></span></a>
    </div>
  </aside>
</section>
