<section class="home content-container">
  <div class="flex-container">
    <h1>Grant J. Schulte</h1>
    <h4><strong>&lt;/</strong>front-end engineer<strong>&gt;</strong></h4>
    <p>
      <span>I intend to create products that are thoughtfully designed.<span>
      <span>I hope the conclusion is something that is both functional and beautiful.<span>
      <span>
        <a href="<%= about_path %>">Get to know more about me</a>,
        <a href="<%= projects_path %>">view projects I've worked on</a>, or
        <a href="<%= posts_index_path %>">read things I've written</a>.
      </span>
    </p>
  </div>
</section>
