<section class="posts-show content-container" ng-controller="postsShowCtrl" data-id="<%= @post.id %>">
  <div class="article-container">
    <article>
      <div class="post-heading">
        <h1 ng-bind="post.title"></h1>
      </div>

      <div class="post-content" ng-bind-html="post.content"></div>

      <div class="footnotes" ng-if="post.footnotes">
        <ol>
          <li>Curabitur laoreet posuere nunc, non convallis nunc elementum in.</li>
          <li>Nullam eget imperdiet nulla. In et dictum quam.</li>
          <li>Quisque eget ligula porttitor, pretium dui ut, convallis diam.</li>
        </ol>
      </div>
    </article>
  </div>
</section>
