<section class="posts-show content-container" ng-controller="postsShowCtrl" data-slug="<%= @post.slug %>">
  <div class="article-container">
    <article>
      <div class="post-heading">
        <h1 ng-bind="post.title"></h1>
      </div>

      <div class="post-content" ng-bind-html="post.content"></div>
    </article>
  </div>
</section>
