footer {
  padding: 0 30px;
  // border-top: 1px solid #efefef;

  nav {
    margin: 30px 0 60px;
    width: 100%;
    text-align: center;

    ul {
      display: inline-block;

      li {
        margin: 0 20px;

        a {
          font-size: 12px;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 2px;

          &:hover {
            color: $bodyLinkHover;
          }
        }

        &.active {
          a {
            color: $bodyLinkHover;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  footer nav ul li {
    margin: 0 10px;
  }
}
