/*
 * Global
 */

$textColor: #2B2C30;

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

$utopia: 'utopia-std', helvetica, sans-serif;
$lato: 'lato', helvetica, sans-serif;

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'lato', helvetica, sans-serif;
  font-size: 14px;
  color: $textColor;
  // background-color: #fcfcfc;
}

h1, h2, h3, h4, h5, h6 {
  color: $textColor;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
  color: $textColor;
  transition: color 200ms ease-in-out;
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
}

p {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 30px;

  &.underline {
    text-decoration: underline;
  }
}

nav {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      display: inline-block;
    }
  }
}

figure {
  margin: 20px 0 30px;
  padding: 25px;
  border: 1px solid #efefef;

  img {
    max-width: 100%;
    margin-bottom: 25px;
  }

  figcaption {
    font-size: 12px;
    color: #555;
  }
}

blockquote {
  margin-left: 20px;
  margin-right: 0;

  p {
    position: relative;
    font-size: 24px;
    line-height: 38px;

    &:before {
      position: absolute;
      display: inline-block;
      content: '"';
      left: -22px;
      top: 6px;
      font-size: 44px;
    }

    &:after {
      position: relative;
      display: inline-block;
      content: '"';
      right: -6px;
      top: 10px;
      font-size: 44px;
    }
  }

  span {
    display: block;
    text-align: right;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 300 !important;
  }
}
