/*
 * Global
 */

 $fontColor: #2B2C30;

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'utopia-std', helvetica, sans-serif;
  font-size: 14px;
  color: $fontColor;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
  color: $fontColor;
  transition: color 200ms ease-in-out;
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
}

p {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 30px;
}

nav {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      display: inline-block;
    }
  }
}

figure {
  margin: 20px 0 30px;
  padding: 25px;
  border: 1px solid #efefef;

  img {
    max-width: 100%;
    margin-bottom: 25px;
  }

  figcaption {
    font-size: 12px;
    color: #555;
  }
}
