/*
// Header
*/

header {
  padding: 0 30px;
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid #efefef;

  h1 {
    display: inline-block;
    margin: 0;
    line-height: 80px;
    color: #222;
    vertical-align: middle;
    font-size: 16px;

    a {
      color: #222;
      vertical-align: middle;
      font-size: 16px;
      margin: 0 3px;

      &.active,
      &:hover {
        color: $headerLinkActive;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .mobile-trigger {
    display: inline-block;
    float: right;
    line-height: 80px;

    span {
      display: inline-block;
      vertical-align: middle;
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 500px) {
  header h1 a.link-item {
    display: none;
  }

  header h1 span:nth-of-type(2) {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  header {
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
  }

  header h1 {
    line-height: 60px;
  }

  header h1 a {
    font-size: 16px;
  }

  header .mobile-trigger {
    line-height: 60px;
  }
}
