/*
// Header
*/

header {
  padding: 0 30px;
  height: 80px;
  line-height: 80px;

  h1 {
    display: inline-block;
    margin: 0;
    line-height: 80px;

    a {
      color: #222;
      vertical-align: middle;
      font-size: 18px;
    }
  }

  .mobile-trigger {
    display: inline-block;
    float: right;
    line-height: 80px;

    span {
      display: inline-block;
      vertical-align: middle;
      font-size: 24px;
    }
  }
}

/* Border Overrides */

.posts_show,
.static_home,
.projects_index {
  header {
    border-bottom: 1px solid #efefef;
  }
}

@media screen and (max-width: 400px) {
  header {
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
  }

  header h1 {
    line-height: 60px;
  }

  header h1 a {
    font-size: 16px;
  }

  header .mobile-trigger {
    line-height: 60px;
  }
}
