/*
// Header
*/

header {
  position: fixed;
  padding: 0 30px;
  height: 80px;
  width: 100%;
  line-height: 80px;
  background-color: rgba(255,255,255,0.95);
  border-bottom: 0;
  z-index: 2;

  h1 {
    display: inline-block;
    float: left;
    margin: 0;
    line-height: 80px;
    font-size: 16px;

    a {
      display: inline-block;
      float: left;
      color: $textColor;
      font-family: $lato;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      // line-height: 80px;
      margin: 0 3px;


      &.active,
      &:hover {
        color: $redLinkHover;
      }

      &:first-child {
        margin-left: 0;
      }
    }

    span {
      display: inline-block;
      float: left;
      // line-height: 80px;
    }
  }

  .menu-trigger {
    display: inline-block;
    float: right;
    line-height: 80px;

    span {
      display: inline-block;
      vertical-align: middle;
      font-size: 24px;
      transition: color 200ms ease-in-out;
      -webkit-transition: color 200ms ease-in-out;
      -moz-transition: color 200ms ease-in-out;
      cursor: pointer;

      &:hover {
        color: $redLinkHover;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  header h1 a.link-item {
    display: none;
  }

  header h1 span:nth-of-type(2) {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  header {
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
  }

  header h1 {
    line-height: 60px;
  }

  header h1 a {
    font-size: 16px;
  }

  header .menu-trigger {
    line-height: 60px;
  }
}
