form.users-form {
  padding: 30px;
  margin: 60px auto;
  width: 340px;
  border: 1px solid #efefef;
  border-radius: 5px;
  overflow:hidden;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.06);

  h1 {
    height: 50px;
    margin: -30px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
  }

  .button-row {
    a,
    input,
    button {
      display: block;
      width: 100%;
    }
  }
}
