.posts-index {

  .posts-list {
    width: 580px;
    margin: 50px auto;

    .post {
      padding-bottom: 10px;
      border-bottom: 1px solid #efefef;

      .date {
        display: block;
        margin-bottom: 20px;
      }

      h2 {
        margin-bottom: 15px;
        font-size: 32px;
      }

      a {
        color: $bodyLink;

        span {
          margin-left: 5px;
        }

        &:hover {
          color: $bodyLinkHover;
        }
      }
    }
  }
}
