.posts-index {
  .posts-list {
    width: 580px;
    margin: 50px auto;

    .post {
      margin-bottom: 60px;
      padding-bottom: 20px;

      .date {
        display: inline-block;
        margin-bottom: 5px;
        padding: 4px 8px;
        color: $textColor;
        font-size: 10px;
        font-weight: bold;
        background-color: #f5f5f5;
        border-radius: 2px;
      }

      h2 {
        margin-bottom: 15px;
        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
      }

      a {
        color: $textColor;

        &:hover {
          color: $redLinkHover;
        }
      }

      > div {
        overflow: hidden;

        a {
          display: inline-block;
          float: right;
          color: $redLink;
          margin-bottom: 15px;
          margin-top: 30px;
          font-size: 16px;

          &:hover {
            color: $redLinkHover;

            span {
              color: $redLinkHover;
            }
          }

          span {
            margin-left: 5px;
          }
        }
      }

      .blurb {
        p {
          margin-bottom: 5px;
          font-weight: 300;
        }
      }
    }
  }

  .more {
    width: 580px;
    margin: 0 auto 50px;
    text-align: center;

    button {
      padding: 0;
      width: 180px;
      height: 45px;
      color: $redLink;
      font-family: $lato;
      font-size: 12px;
      font-weight: 700;
      line-height: 43px;
      text-transform: uppercase;
      background-color: #fff;
      border: 1px solid $redLink;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        color: $redLinkHover;
        border-color: $redLinkHover;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .posts-index .posts-list {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 400px) {
  .posts-index .posts-list .post h2 {
    margin-bottom: 0;
    font-size: 22px;
    line-height: 28px;
  }

  .posts-index .posts-list .post figure {
    margin-bottom: 25px;
  }

  .posts-index .posts-list .post figure img {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 320px) {
  .posts-index .posts-list .post figure {
    padding: 15px;
  }

  .posts-index .posts-list .post figure img {
    margin-bottom: 10px;
  }
}
