.posts-index {

  .posts-list {
    width: 580px;
    margin: 50px auto;

    .post {
      margin-bottom: 60px;
      padding-bottom: 20px;
      // border-bottom: 1px solid #efefef;

      .date {
        display: inline-block;
        margin-bottom: 20px;
        padding: 4px 8px;
        color: $textColor;
        font-size: 10px;
        background-color: #f9f9f9;
        border-radius: 2px;
      }

      h2 {
        margin-bottom: 15px;
        font-size: 32px;
      }

      a {
        color: $redLink;

        span {
          margin-left: 5px;
        }

        &:hover {
          color: $redLinkHover;
        }
      }

      > div {
        overflow: hidden;

        a {
          display: inline-block;
          float: right;
          margin-bottom: 15px;
          margin-top: 30px;
          font-size: 16px;
        }
      }

      .blurb {
        p {
          margin-bottom: 5px;
        }
      }
    }
  }
}
