.posts-show {
  $articleWidth: 580px;
  $headlineSize: 40px;
  $headlineLineHeight: 48px;
  padding-top: 0;

  .article-menu {
    width: 100%;
    margin: 0 auto 60px;
    font-size: 12px;
    overflow: hidden;

    .meta {
      color: #222;
      float: left;
    }

    .post-menu {
      position: fixed;
      right: 0;
      margin-top: 120px;

      a {
        display: inline-block;
        clear:both;
        margin-bottom: 5px;
        font-size: 18px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        float: right;
        color: $textColor;
        background-color: #f9f9f9;
        text-align: center;

        &:hover {
          color: $redLinkHover;
        }
      }
    }
  }

  .article-container {
    padding: 0;
    margin: 0 auto;
    width: $articleWidth;

    article {
      div.post-heading {
        h1 {
          margin: 0 auto;
          width: 100%;
          line-height: $headlineLineHeight;
          font-size: 28px;
          font-weight: bold;
          text-transform: uppercase;
          text-align: center;
        }

        > span {
          display: inline-block;

          &.date {
            position: relative;
            display: block;
            margin: 20px auto 40px;
            width: 100%;
            color: #999;
            font-size: 10px;
            text-align: center;

            span {
              position: relative;
              display: inline-block;
              padding: 0 20px;
              background-color: #fff;
              z-index: 2;
            }

            &:after {
              display: block;
              content: '';
              position: absolute;
              top: 50%;
              left: 0;
              border-bottom: 1px solid #efefef;
              width: 100%;
              z-index: -1;
            }
          }
        }
      }

      div.post-content {
        margin-top: 20px;

        .page-number {
          display: block;
          text-align: center;
        }

        p {
          text-align: justify;
          font-weight: 300;

          a {
            color: $redLink;

            &:hover {
              color: $redLinkHover;
            }
          }
        }

        &:after {
          display: block;
          content: '....';
          margin-top: 30px;
          font-size: 24px;
          text-align: center;
          letter-spacing: 2px;
        }

        &:before {
          display: block;
          content: '....';
          margin-bottom: 40px;
          font-size: 24px;
          text-align: center;
          letter-spacing: 2px;
        }
      }

      .footnotes {
        ol {
          margin: 50px 20px 50px;
          padding: 0;

          li {
            font-size: 12px;
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}
