.posts-show {
  $articleWidth: 580px;
  $headlineSize: 40px;
  $headlineLineHeight: 48px;
  padding-top: 0;

  .article-container {
    padding: 0;
    margin: 0 auto;
    width: $articleWidth;

    article {
      .post-heading {
        h1 {
          margin: 0 auto;
          width: 100%;
          line-height: $headlineLineHeight;
          font-size: 28px;
          font-weight: bold;
          text-transform: uppercase;
          text-align: center;
        }

        > span {
          display: inline-block;

          &.date {
            position: relative;
            display: block;
            margin: 20px auto 40px;
            width: 100%;
            color: #999;
            font-size: 10px;
            text-align: center;

            span {
              position: relative;
              display: inline-block;
              padding: 0 20px;
              background-color: #fff;
              z-index: 2;
            }

            &:after {
              display: block;
              content: '';
              position: absolute;
              top: 50%;
              left: 0;
              border-bottom: 1px solid #efefef;
              width: 100%;
              z-index: -1;
            }
          }
        }
      }

      .post-content {
        margin-top: 20px;

        .page-number {
          display: block;
          text-align: center;
        }

        p {
          text-align: justify;
          font-weight: 300;

          a {
            color: $redLink;

            &:hover {
              color: $redLinkHover;
            }
          }

          sup {
            line-height: 0;
          }
        }

        div {
          margin-bottom: 40px;

          h3 {
            font-size: 24px;
          }

          a {
            color: $redLink;

            span {
              margin-right: 4px;
            }

            &:hover {
              color: $redLinkHover;

              span {
                color: $redLinkHover;
              }
            }
          }
        }

        &:after {
          display: block;
          content: '....';
          margin-top: 30px;
          font-size: 24px;
          text-align: center;
          letter-spacing: 2px;
        }

        &:before {
          display: block;
          content: '....';
          margin-bottom: 40px;
          font-size: 24px;
          text-align: center;
          letter-spacing: 2px;
        }
      }

      .footnotes {
        ol {
          margin: 50px 20px 50px;
          padding: 0;

          li {
            font-size: 12px;
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .posts-show .article-container {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 400px) {
  .posts-show {
    margin-top: 80px;
  }

  .posts-show .article-container article .post-heading h1 {
    margin-bottom: 0;
    font-size: 22px;
    line-height: 28px;
  }

  .posts-show .article-container article .post-content {
    margin-top: 10px;

    &:before {
      margin-bottom: 30px;
    }
  }

  .posts-show .article-container article figure {
    margin-bottom: 25px;
  }

  .posts-show .article-container article figure img {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 320px) {
  .posts-show .article-container article figure {
    padding: 15px;
  }

  .posts-show .article-container article img {
    margin-bottom: 10px;
  }
}
